.projectCardContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 80px;
    &.odd {
        flex-direction: row-reverse;
        .cardTitle {
            text-align: right;
        }
    }
    .imageContainer {
        height: auto;
        max-height: 200px;
        position: relative;
        width: 100%;
        .image {
            height: 100%;
            position: relative !important;
            width: 100%;
        }
    }
    .cardData {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .cardDescription {
            overflow: hidden;
            text-align: justify;
        }
    }
}
