.projectCardContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 80px;
    .imageContainer {
        height: 100%;
        position: relative;
        width: 300px;
        .image {
            height: 100%;
            position: relative !important;
            width: 100%;
        }
    }
    .cardData {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 800px;
        width: 60vw;
        .cardContent {
            display: flex;
            flex-direction: row;
            gap: 32px;
            justify-content: space-between;
            p {
                margin-bottom: 0;
                text-align: justify;
            }
            button {
                min-width: 120px;
                width: 120px;
                position: relative;
                &::before {
                    background-color: #f1faee;
                    content: "";
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transform-origin: right center;
                    transform: scaleX(0);
                    transition: transform 0.16s ease-out;
                    width: 100%;
                }
                &:hover {
                    &::before {
                        transform-origin: left center;
                        transform: scaleX(1);
                    }
                    span {
                        color: #ca1421;
                    }
                }
                span {
                    transition: color 0.25s ease;
                    font-weight: bold;
                    position: relative;
                }
            }
        }
    }
}
// MOBILE
@media only screen and (max-width: 1000px) {
    .projectCardContainer {
        flex-direction: column-reverse;
        .imageContainer {
            width: 60vw;
        }
        .cardData {
            width: 100vw;
        }
    }
}
