.bragSectionContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    // padding: 24px;
    scroll-margin-top: 100px;
}
