.bragSectionContainer {
    scroll-margin-top: 100px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 75vh;
    .achievementsList {
        align-items: center;
        align-self: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
        list-style: none;
        width: 90%;
    }
}
