@use "@/scss/utils/variables" as *;

html {
    background-color: $background-color;
}

h1,
h2 {
    color: #e63946;
}

button {
    background-color: #e63946;
    border: none;
    box-shadow: 0.5px 0.25px 0.25px black;
    color: #f1faee;
    cursor: pointer;
    letter-spacing: 1.25px;
    padding: 8px 16px;
}
