.projectsDisplayContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 24px;
    scroll-margin-top: 100px;
    .projectsList {
        align-items: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 160px;
        justify-content: space-between;
        justify-self: center;
        list-style: none;
        max-width: 90%;
        padding: 0;
        width: 100%;
    }
}
// MOBILE
@media only screen and (max-width: 1000px) {
    .projectsDisplayContainer {
        .projectsList {
            gap: 40px;
        }
    }
}
